@import "src/styles/colors";
@import "src/styles/variables";

header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: $black;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  color: $white;
  z-index: 4;

  i {
    padding: 0 20px;
  }

  .menu {
    cursor: pointer;
    height: 60px;
    display: flex;
    align-items: center;

    @media screen and (min-width: $large-screen) {
      display: none;
      &+.title {
        padding-left: 24px;
      }
    }
  }

  .title {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .0125em;
    cursor: default;
    height: 60px;
    display: flex;
    align-items: center;
  }
}